.bg-navigation{
	background-color: #5f0DCD;
	padding: 7px 10px;
	color: #fff;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	user-select: none;

}
.text-shadow-dark{
		text-shadow: -1px 1px 0 #111,
	1px 1px 0 #333,
	1px -1px 0 #000,
	-1px -1px 0 #222;
}
.Logo{
	font-size: 1.1em;;

}
.logotip{
	padding: 5px 10px;
}
.user{
	padding: 2px 5px;
	border-radius: 100%;
	font-size: 1.1em;
}
.bg-orange{
	background-color: #5f0DCD;
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
 }
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
 }
 
 .number-input {
	border: 0;
	display: flex;
	background: #efefef;
 }
 
 .number-input,
 .number-input * {
	box-sizing: border-box;
 }
 
 .number-input button {
	outline:none;
	-webkit-appearance: none;
	background-color: #ffc720;
	border: none;
	align-items: center;
	justify-content: center;
	width: 3rem;
	cursor: pointer;
	margin: 0;
	position: relative;
	padding: 5px;
 }
 
 .number-input button:before,
 .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 0.5rem;
	height: 2px;
	background-color: #000;
	transform: translate(-50%, -50%);
 
 }
 .number-input button.plus:after {
	transform: translate(-50%, -50%) rotate(90deg);
 }
 
 .number-input input[type=number] {
  font-family: sans-serif;
 }